@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Dancing+Script&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

h1 {
  color: #dad179f4;
  font-size: 32px;
  font-weight: 900;
  font-family: 'Roboto';
  }

h2 {
  color: rgb(142, 186, 229);
}

body {
  font-family: 'Alegreya';
  font-weight: 300;
  background-image: url("images/pinksky.webp");
  font-size: 16px;
  line-height: normal;
}

.container {
  width: 700px;
  margin: 40px auto;
  background-color: azure;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px;
}
.card {
  background-color: rgb(239, 249, 249);
  padding: 20px;
  box-shadow: 0px 0px 2px;
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
}
a {
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  color: rgb(157, 147, 208);
  text-decoration: lightskyblue;
}

.img-circle {
  border-radius: 50%;
}
.btn-rose {
  background-color: #9096e4;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
.btn-rose:hover {
  background-color: rgb(185, 190, 231);
  color: white;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
